# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.idea

# idea
out
*.ipr
*.iws
*.iml

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

workspace.xml

**/allmusic_client/player/
**/allmusic_client/player/decoder/mp3/
**/allmusic_client/hud/
**/allmusic_client/player/decoder/